.commerce-product-field {
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
}

.commerce-product-field-label {
    font-size: var(--spectrum-global-dimension-font-size-75, 11px);
    color: var(--spectrum-global-color-gray-700, #6e6e6e);
    font-weight: 700;
}

.commerce-product-field ._coral-Textfield {
    width: 192px;
}

@media (min-width: 1024px) {
    coral-multifield-item-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    .commerce-product-field coral-numberinput {
        min-width: 60px;
    }
}
